<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJz1qi9Ya1INO3UgNcY8qgj8I9InQOvRY</string>
	<key>GCM_SENDER_ID</key>
	<string>777943477277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edvocElearning</string>
	<key>PROJECT_ID</key>
	<string>edvoc-elearning</string>
	<key>STORAGE_BUCKET</key>
	<string>edvoc-elearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777943477277:ios:e6edec08124d59a6caaaf4</string>
	<key>DATABASE_URL</key>
	<string>https://edvoc-elearning-default-rtdb.firebaseio.com</string>
</dict>
</plist>